*{
    margin: 0;
    padding: 0;
    font-family: Rubik;
    box-sizing: border-box;/*box sizing : จะคำนวณ width และ height ให้ และจะมาคู่กับ width,height 100%*/
}
body{
    color: white;
    width: 100%;
}
.header{
   position: relative;
   top:0;
   left: 0;
   width: 100%;
   padding: 30px 5%;/*ตัวแรก : บน-ล่าง ตัวสอง : ซ้าย-ขวา*/
   background-color: black; 
   display: flex;/*มาคู่กับ justify-content และ align-item*/
   justify-content: space-between;/*แยกตัว content ออกจากกัน*/
    align-items: center;
    z-index: 100;/*ขนาดที่ content ยื่นออกมาข้างหน้า*/
}
.logo{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.navbar a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    transition: 0.3s;
}
.navbar a:hover{
    border-radius:10px;
    color: black;
    padding: 10px;
    background-color: white;
}
.icon_menu{
    display: none;
    width: 35px;
    position: absolute;
    top:25px;
    right: 25px;     
    background-color: white;
    border-radius: 5px;
}


.homepage_title{
    padding: 10px;
    background-color: black;
    margin-top: 2vh;
    margin-left: 1%;
    margin-bottom: 2vh;
    border-radius: 10px;
    transition: .4s;
    width: 190px;
    text-align: center;
    font-size: auto;
}
.homepage_title:hover{
    color: black;
    background: white;
    border: 2px solid black;
}


.img-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.My-picture{
    position: static;
    border-radius:100px ;
    padding: 5%;
    width: 28%;
}
.img_describe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    padding: 1%;
}
.img_describe p{
    font-size: 34px;
    font-weight: normal;
    padding-top:34px;
}
.img_describe span{
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
}

hr{
    border: 1px solid white;
    width: 100%;
}

.video-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    background-color: black;
    color: white;
}
.video-edit{
    display: inline-block;
    position: relative;
    left: 21%;
    width: 55%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.video-title{
    align-items: center;
    justify-content: center;
    font-size: 35px;
    position: static;
    padding-bottom: 32px;
    padding-left: 10px;
}


@media(max-width : 1300px){
    .homepage_title{
        display: flexbox;
        justify-content: center;
        align-items: center;
        width: 130px;
    }
    .homepage_title span{
        display: block;
    }
    .navbar{
        display: none;
        
    }
    .icon_menu{
        display: block;
    }
    .img-info{
        display: block;
    }
    .My-picture{
        position: relative;
        width: 60%;
        left: 21.5%;
        border-radius: 75px;
    }
    .img_describe{
        padding-left: 30px;
    }
    .video-edit{
        display: inline-block;
        position: relative;
        left: 10%;
        width: 80%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
@media (max-width: 768px){
    .My-picture{
        position: relative;
        width: 60%;
        left: 20.5%;
        right: 30%;
        border-radius: 50px;
    }
    .video-edit{
        left: 10%;
        width: 80%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
@media (max-width: 500px){
    .img_describe p{
        font-size: 25px;
        font-weight: normal;
        padding-top:34px;
    }
    .img_describe span{
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
    }
}
