*{
    margin: 0;
    padding: 0;
    font-family: Rubik;
    box-sizing: border-box;/*box sizing : จะคำนวณ width และ height ให้ และจะมาคู่กับ width,height 100%*/
}
body{
    color: white;
}
.header{
   position: relative;
   top:0;
   left: 0;
   width: 100%;
   padding: 30px 5%;/*ตัวแรก : บน-ล่าง ตัวสอง : ซ้าย-ขวา*/
   background-color: black; 
   display: flex;/*มาคู่กับ justify-content และ align-item*/
   justify-content: space-between;/*แยกตัว content ออกจากกัน*/
    align-items: center;
    z-index: 100;/*ขนาดที่ content ยื่นออกมาข้างหน้า*/
}
.logo{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.navbar a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    transition: 0.3s;
}
.navbar a:hover{
    border-radius:10px;
    color: black;
    padding: 10px;
    background-color: white;
}
.icon_menu{
    display: none;
    width: 35px;
    position: absolute;
    top:25px;
    right: 25px;     
    background-color: white;
    border-radius: 5px;
}


.sport_detail{
    margin-top: 50px;
    width: 100%;
    position: relative;
    display: flex;
    background-color: black;
}
.sport_describe {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.sport_describe img{
    width: 50%;
    padding: 5%;
    border-radius: 120px;
}
.sport_describe p{
    padding-left: 10%;
}
.sport_title{
    display: block;
    text-align: center;
    text-decoration: underline;
    margin: 3%;
    color: black;
}
@media(max-width : 1180px){
    .icon_menu{
        display: block;
    }
    .navbar{
        display: none;
        
    }
    .sport_detail{
        justify-content: center;
    }
    .sport_describe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sport_describe img{
        padding:5% 0 5% 0 ;
        width: 70%;
        border-radius: 100px;
    }
    .sport_describe p{
        padding: 0;
    }
}
@media(max-width:675px){
    .sport_describe img{
        padding:5% 0 5% 0 ;
        width: 70%;
        border-radius: 80px;
    }
}
@media(max-width:550px){
    .sport_describe img{
        padding:5% 0 5% 0 ;
        width: 100%;
        border-radius: 60px;
    }
}